<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Student Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/postrequest.js"></script>
    <script src="/getrequest.js"></script>
    <script src="/deleterequest.js"></script>



</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>Student Registration Form</h2>
    <form id="studentForm">
        <div class="form-group">
            <label for="id">Student ID:*</label>
            <input type="text" class="form-control" id="id" placeholder="Enter your student id here" name="id">

        </div>
        <div class="form-group">
            <label for="studentFullName">Full Name:*</label>
            <input type="text" class="form-control" id="studentFullName" placeholder="Enter student full name" name="studentFullName">

        </div>
        <div class="form-group">
            <label for="email">Email:*</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">

        </div>


        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>

    </br>

    <div class="col-sm-7" style="margin : 20px 0px 20px 0px">
        <button id="getStudents" type="button" class="btn btn-primary">Get All Students</button>
        <button id="deleteStudent" type="button" class="btn btn-primary">Delete Student</button>
        <div id="getResultDiv" style="padding : 20px 10px 20px 50px">
            <ul class="list-group"></ul>
        </div>
    </div>

</div>

</body>
</html>